
  .wrapper{
    text-align: center;
    display: flex
;
  }
  .login-panel{
    width: 200px;
    padding: 50px;
    font-size: 20px;
    color: var(--mat-sys-primary);
    margin-top: 100px;
    border-radius: var(--mat-sys-corner-medium);
    background: var(--mat-sys-secondary-container);
    font-family: roboto;
  }