.messaging-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%
  }
  
  .message-list-container, .message-detail-container, .new-message-container {
    border: 1px solid #ccc;
    padding: 10px;
  }
  .message-list ul {
    list-style: none;
    padding: 0;
  }
  
  .message-list li {
    padding: 8px;
    cursor: pointer;
  }
  
  .message-list li.unread {
    font-weight: bold;
    background-color: #f9f9f9;
  }