
<div class="common-wrapper">
  <div class="common-title">Messages</div>
  <app-new-message (messageSent)="onMessageSent()"></app-new-message>
  <app-message-detail *ngFor="let message of messages" [message]="message"></app-message-detail>
</div>

<div class="messaging-container">
  <mat-grid-list cols="4" rowHeight="200px" gutterSize="16px" style="height: 100%">
    <mat-grid-tile colspan="4" rowspan="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>New Message</mat-card-title>
        </mat-card-header>
        <mat-card-content style="overflow: auto;">
          <app-new-message (messageSent)="onMessageSent()"></app-new-message>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Message List Section   -->
    <mat-grid-tile colspan="4" rowspan="4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Messages</mat-card-title>
        </mat-card-header>
        <mat-card-content style="overflow: auto;">
          <!--
          <app-message-list
            [messages]="messages"
            (selectMessage)="onSelect($event)">
          </app-message-list>
          <mat-list>
            <h3 mat-subheader>Messages</h3>
            <mat-list-item *ngFor="let message of messages" (click)="onSelect(message)">
              <mat-icon matListIcon>mail</mat-icon>
              <div matLine>{{ message.Subject }}</div>
              <div matLine>
                <small>{{ message.SentOn | date:'short' }}</small>
              </div>
            </mat-list-item>
          </mat-list>-->
          <app-message-detail *ngFor="let message of messages" [message]="message"></app-message-detail>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

  <!-- Message Detail Section 
    <mat-grid-tile colspan="1" *ngIf="selectedMessage">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Message Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-message-detail [message]="selectedMessage"></app-message-detail>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>-->

  <!-- New Message Form Section -->

</div>
