<div class="common-container">
  <!-- Loading indicator -->
  <div *ngIf="loading" class="loading">
    Loading documents…
  </div>

  <!-- Error message -->
  <div *ngIf="!loading && error" class="error">
    {{ error }}
  </div>

  <!-- No documents case -->
  <div *ngIf="!loading && !error && documents.length === 0" class="no-docs">
    No documents found.
    <!-- If tenant user show uploader for this customer -->
    <div *ngIf="authService.isTenantUser()">
      <app-document-upload [customerId]="customer?.CustomerId"></app-document-upload>
    </div>
  </div>

  <!-- Grid of document‐cards -->
  <div class="grid" *ngIf="!loading && !error && documents.length > 0">
    <div class="loading">We found {{documents.length}} documents.</div>
    <!-- TODO Add filter-->
    <!-- If tenant user show uploader for this customer -->
     <div *ngIf="authService.isTenantUser()">
       <app-document-upload [customerId]="customer?.CustomerId"></app-document-upload>
     </div>
    <app-document-item *ngFor="let doc of documents" [document]="doc"></app-document-item>
  </div>
</div>