.messaging-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%
  }
  
  .message-list-container, .message-detail-container, .new-message-container {
    border: 1px solid #ccc;
    padding: 10px;
  }