<mat-expansion-panel class="customer-expansion-panel" (opened)="onExpansionOpened()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="customer-icon">person</mat-icon>
      <span class="customer-name">{{ customer?.Name }}</span>
    </mat-panel-title>
    <mat-panel-description>
      <span class="customer-id">Name: {{ customer?.CustomerEmail }}</span>
      <span class="customer-created">Created: {{ customer?.Created | date:'short' }}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="customer-details">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      
      <!-- Orders Tab -->
      <mat-tab label="Orders">
        <ng-template matTabContent>
          <div class="tab-content">
            <app-orders 
              *ngIf="loadedTabs.orders" 
              [customer]="customer">
            </app-orders>
            <div *ngIf="!loadedTabs.orders" class="lazy-loading">
              Loading orders...
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Documents Tab -->
      <mat-tab label="Documents">
        <ng-template matTabContent>
          <div class="tab-content">
            <app-documents 
              *ngIf="loadedTabs.documents" 
              [customer]="customer">
            </app-documents>
            <div *ngIf="!loadedTabs.documents" class="lazy-loading">
              Loading documents...
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Messages Tab -->
      <mat-tab label="Messages">
        <ng-template matTabContent>
          <div class="tab-content">
            <app-messages 
              *ngIf="loadedTabs.messages" 
              [customer]="customer">
            </app-messages>
            <div *ngIf="!loadedTabs.messages" class="lazy-loading">
              Loading messages...
            </div>
          </div>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
</mat-expansion-panel>