<div class="wrapper">
    <div class="title">{{this.formConfig?.title}}</div>
    <div class="price">Cost: ${{this.formConfig?.cost}}</div>
    <div class="instructions">
        {{this.formConfig?.instructions}}
       
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </form>
    <div *ngIf="form.valid && model">
      <h4>Model Value</h4>
      <pre>{{ model | json }}</pre>
    </div>
  </div>
